.form {
  width: 100%;
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  input {
    margin: 5px;
    height: 20px;
    width: 100px;
  }
  button {
    margin: 5px;
    height: 100px;
    width: 100px;
    border-radius: 100%;
    font-size: 3rem;
    outline: none;
  }
}